
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    [class*="col-"] {
    float: left;
    padding: 5px;
    }


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


header{
    background-color: rgb(245, 114, 12);
    color: white;
    margin: 0px;
    align-content: center;
    text-align: center;
    min-height: 200px;
    
}

body, h1, h2, p, div{
    margin: 0px;
}


.border {
    background-color: rgb(255, 184, 134);
}

.menu{
    background-color: rgb(189, 86, 13);
    color: white;
    margin: 0px;
    text-align: center;
    
    border-bottom: 5px solid yellow;
}

#sax-img{
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 75%;
    height: 30%;
}