header {
    height: 50px;
    background-color: lightblue;
}
body {
    background-color: aliceblue;
}

.knop {
    display: inline-block;
    height: 20px;
    width: 100px;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    text-align: center;
    background-color: blue;
}

a {
    color: black;
    padding: 5px;
}

.kleur {
    color:green;
}

#foto {
    display: block;
    margin: auto;
    padding: 5px;
}

p {
    text-align: center;
    background-color: lightgray;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
}

#copyr {
    background-color: aqua;
    margin-left: 600px;
    margin-right: 600px;
    padding: 5px;
}

table {
    margin: auto;
    background-color: lightgreen;
    padding: 5px;
}

#verzend_knop {
    display: block;
    margin: auto;
    padding: 5px;
}

#verzend_knop:active {
    color: white;
    background-color: darkblue;
    padding: 5px;
}
.cvtable, .cvrow, .cvdata, .cvheading {
    border: 1px solid;
}

